<h3>Message Details</h3>

<h5 class="fs-6"><%= @message.title %></h5>
<h5><%= @message.description %></h5>
<%= render @message.comments %>
<%= render "comments/form" %>

<%= link_to "Edit", edit_message_path(@message) ,class: "btn btn-primary" %> 
<%= link_to "Back", root_path, class: "btn btn-primary" %>



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Open modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer"><%= button_to "Delete", message_path(@message), method: :delete ,class: "btn btn-danger" %> 
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>