<!DOCTYPE html>
<html>
  <head>
    <title>MessageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
 
 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "bootstrap.bundle.min" %>
   
  
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container d-flex justify-content-around align-items-center mb-3 w-100">
       
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-nav">
            <%= link_to "HOME" , root_path, class: "nav-link active" %>
          
        </li>
        <li class="navbar-nav">
            <%= link_to "New Message" , new_message_path, class: "nav-link active" %>  
        </li>
      </ul>
      <form class="d-flex me-auto col-sm-3 py-3">
        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    
    <ul class="navbar-nav d-flex me-3 my-2 my-lg-0 justify-content-center align-items-center">

        <% if Current.user %>
        
          <li class=" dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Logged in as: <%= Current.user.name %><br>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">          
            <%= button_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %>  
            </ul>     
          </li>
                     
        <% else %>
           <li class="navbar-nav">
            <%= link_to 'Sign Up', sign_up_path , class: ""  %>
           </li>  
            <li class="navbar-nav">
              <%= link_to 'Login', sign_in_path,class: "mx-3"   %>
           </li>  
        <% end %>
    </ul> 
  </div>
</nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
